[Desktop Entry]
Version=1.0
Name=Atlas AI
Name[ar]=أطلس للذكاء الاصطناعي
Comment=AI Assistant with Arabic Language Support - Developed by Mohamed S AL-Romaihi
Comment[ar]=مساعد ذكاء اصطناعي يدعم اللغة العربية - تطوير محمد الرمیحي
Exec=atlas_ai
Icon=data/flutter_assets/assets/icons/app_icon1.png
Terminal=false
Type=Application
Categories=Office;Education;Development;Science;
Keywords=AI;Arabic;Assistant;Fine-tuning;Machine Learning;Chat;
Keywords[ar]=ذكاء اصطناعي;عربي;مساعد;تدريب;تعلم آلة;محادثة;
StartupNotify=true
MimeType=text/plain;application/json;
